.login {
    text-align: center;
    background-color: #ff00f9;
    color: #fff;;
    border-top: 6px solid #dc11d8;
    padding: 20px;
    margin-top:10px;
}
.login .submit {
    width: 80px;
    text-align: center;
}

.logout {
    color: red;
    background: #000;
}